body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002E5D;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 18px;
  margin: 0;
  color: #fff;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}


/*Video portada*/

#Inicio {
  width: 100%;
  height: 98vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;

}

#video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -10;
  visibility: visible;
  object-fit: cover;
}

/*Contenido de la pagina Tarjetas*/
/* .content {
  padding: 20px;
} */

.title{
  margin-top: 100px;
}

/* .container {
  height: 100%;
  margin: 50px auto;

} */

.heading {
  text-align: center;
  font-size: 15px;
  margin: 0; /* Elimina el margen inferior para acercar el título a las tarjetas */
  font-family: 'Cuprum', sans-serif;
}

.card {
  width: 20%;
  background: #fff;
  border-radius: 2%;
  border: 1px solid #5f55e4;
  margin-bottom: 10px; /* Ajusta este valor según tu preferencia para reducir el espacio entre las tarjetas */
  transition: 0.3s;
  position: relative;
  z-index: 0;
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card-header img {
  height: 90%;
  width: 100%;
  border-radius: 2%; /*agrego el redondeo a las banderas*/

}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;

}

.card-title {
  padding: 20px 10px;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  background: #598FBC;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/*Resposive*/

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #222;
    padding: 10px;
    transition: all 0.3s ease-in;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
    cursor: pointer;
  }

  .nav-active {
    display: flex;
  }

  #video {
      height: calc(100vh - 20px); 
      max-width: 100%; 
      margin-bottom: 0; 
  }

  .content {
    padding-top: 2px;
  }
  .heading {
    /* padding: 20px; */
    font-size: 20px;
  }

  .card {
    width: 90%; 
    margin: 10px auto; 
  }
  #portada .pic-port {
    width: 100%;
    height: auto;
  }

  .container-servicio{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .form-container {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    flex: 1;
    margin-right: 20px;
  }

  form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }

  .Servicios {
    flex: 1;
    /* padding: 20px; */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .Servicios .text {
    text-align: center;
  }

  .Servicios ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
  }

  .Servicios li {
    margin-bottom: 10px;
  }

}


/*Estilo pagina Sobre Nosotros*/

#portada {
  background-color: #F3F1EE;
  text-align: center;
}

#portada img {
  width: 100%;
  height: auto;
  max-width: 100%
}

h2 {
  text-align: center;
}
.container {

  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.team-text {
  max-width: 800px; 
  margin: 0 auto; 
  
}

/*Estilo pagina servicios*/

#portada .pic-port{
  width: auto;
  height: auto;
}

.container-servicio{
  display: flex;
  justify-content: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr; /* Primera fila para el título, segunda fila para el formulario */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  flex: 1;
  margin: 20px;
}

h2.text {
  text-align: center;
}

form {
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}



label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  margin-top: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Servicios {
  display: grid;
  grid-template-rows: auto 1fr; /* Primera fila para el título, segunda fila para el formulario */
  
  
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  flex: 1;
  margin: 20px;
}


.Servicios .text{
  text-align: center;
}

.Servicios ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

.Servicios li {
  margin-bottom: 10px;
}

.formulario{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 8% 2%;
  margin: 1% 10%;
  display: grid;
}

footer {
  
  background-color: #00284d;
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px; /* Reduce el padding superior e inferior */
  height: 60px; /* Define la altura de la franja */
}
#card-container {
  margin-block: 50px; /* Ajusta este valor según tu preferencia para mover las tarjetas más arriba */
}
.redsoc{
  font-size: 20px;
}

footer {
  margin-top: 100px; /* Ajusta este valor según tu preferencia para que el footer aparezca después de las tarjetas */
}
#pagination {
  text-align: center;
  margin-top: 20px;
}

button#prevPage, button#nextPage {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#prevPage:disabled, button#nextPage:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}

/* Estilos para el modo claro  y oscuro*/
body {
  background-color: #fff;
  color: #000;
}

body.dark-mode {
  background-color:black;
  color: #fff;
}

.card {
background-color: #fff; 
color: black; 
}

body.dark-mode .card {
background-color: black; 
color: #fff; 
}

.formulario input[type="submit"] {
background-color:#598FBC; 
color: #fff; 
}

.dark-content {
color: white; 
background-color:black; 
}

  
body.dark-mode .formulario {
background-color: black; 
color: #fff; 
}

body.dark-mode .form-container {
  background-color: black;
  color: #fff;
}

body.dark-mode .Servicios {
  background-color:black;
  color: #fff;
}

